#boite {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100px;
	height: 100px;
	background-color: red;
	transition-property: width, height, background-color;
	transition-duration: 1s, .5s, 2s;
	transition-timing-function: ease-in, ease-out, linear;
}
